@charset "UTF-8";
.card, .contenedorLinks {
  display: flex;
  flex-direction: column;
}

/*-----------------------------------------------Tamaño del logo--------------------------*/
.imgLogo {
  width: 17%;
}

/*-------------------------------------------------------LINKS----------------------------------------------------------*/
.linkWeb {
  display: flex;
  gap: 0.5px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}
.linkWeb .contenerdorLinks:hover {
  filter: drop-shadow(0px 0px 5px #aa4d17);
}

.colorLink {
  color: rgb(255, 255, 255);
}

.contenedorLinks {
  background-color: rgba(201, 171, 112, 0.5215686275);
  margin: 7px;
  padding: 9px;
  border-radius: 15px;
}

/*------------------------------------------------------BOTONES-------------------------------------------------------*/
/*color de fondo del boton*/
button {
  background-color: #e9d6be;
}
button:hover {
  filter: drop-shadow(0px 0px 5px #aa7b17);
  /*fondo del button (color)*/
}

/*------------------------------------ESTILOS/COLORES------------------
-------------------------------*/
/*elimina la linea debajo del texto*/
a {
  text-decoration: none;
}

.textoCentrado {
  text-align: center;
}

.activo {
  background-color: rgba(171, 132, 48, 0.1921568627);
  margin: auto;
  padding: 3px;
  border-radius: 9px;
}

/*Negrita a las letras*/
.sub {
  font-weight: 600;
  font-size: 16px;
}

/*titulo Centro de estetica*/
.titulo {
  color: #cfa64c;
  margin-left: 40%;
  /*margen de lado izquierdo*/
  font-family: Georgia, "Times New Roman", Times, serif;
  /*fuentes*/
}

/*Color de fondo de "Servicios"*/
.serviciosColor {
  background-color: #e4ceb4;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*Color de subtitulos de Servicios*/
.subtitulos {
  color: #bd9c42;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*----------------------------------------------CONTENEDORES--------------------------------------------*/
.contenedorSuperior {
  display: flex;
  justify-content: space-between;
  /*backdrop-filter: blur(10px);*/
}

/*--------------------------------------------------CARDS-------------------------------------------------*/
/*contenedor para los servicios*/
.card {
  background-color: rgba(211, 175, 129, 0.3568627451);
  width: 75%;
  /*fondo*/
  place-items: center;
  margin: 15px;
  padding: 15px;
  border-radius: 30px;
  /*border radius-padding*/
}

/*---------------------------------------------------TAMAÑO DE IMAGENES--------------------------------------*/
/*tamaño de imagenes*/
.tamañoImgServicios {
  width: 70%;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
}

.tamañoImgCarrusel {
  width: 65%;
  margin: 50px auto;
}

.tamañoImgCarrito {
  width: 23px;
  margin: 5px;
}

/*-------------------------------------------------------------FOOTER-------------------------------------------------------------------------*/
FOOTER {
  background-color: #e4ceb4;
  /*color de fondo del footer*/
}

.redes {
  display: flex;
  list-style: none;
}

.anchoRedes {
  width: 10%;
  padding: 1%;
}

/*-------------------------GRID------------------------------*/
main .pestañaProductos {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.caja1 {
  display: grid;
  background-color: #e4ceb4;
}

.caja2 {
  margin-left: 30px;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 120px;
  align-items: center;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

footer {
  margin-top: 10px;
}

/*----------------------------------------------------GRID-MOVILE-----------------------------------------------------------------------------*/
@media (max-width: 500px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imgLogo {
    width: 50%;
    margin-bottom: 10px;
  }
  .contenedorSuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .caja1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .caja1 h3 {
    text-align: center;
  }
  .caja2 {
    width: 100%;
  }
  .caja2 h1 {
    text-align: center;
  }
  .linkWeb {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contenedorLinks {
    width: 100%;
    margin: 5px;
    padding: 8px;
  }
  .subtitulos {
    text-align: center;
  }
  .servicios {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .productos {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .titulo {
    margin-left: 0;
    font-size: 20px;
  }
  .tamañoImgServicios {
    width: 65%;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
  }
  .galeriaProductos .contenedor {
    width: 100%;
    padding: 10px;
  }
  .tamañoImgCarrusel {
    width: 100%;
  }
  .tamañoImgCarrito {
    width: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    text-align: center;
    padding: 10px;
  }
  .redes {
    display: grid;
    /*filas, columnas*/
    list-style: none;
    text-align: left;
  }
  .redes li {
    margin-bottom: 10px;
    padding: 0;
  }
}
/*-----------------------------------------------Tamaño del logo--------------------------*/
.imgLogo {
  width: 17%;
}

/*----------------------------------------------------------GRID CODIGO-------------------------------------------------*/

/*# sourceMappingURL=styles.css.map */
