@use 'utilidades/variables' as variable;
/*-------------------------------------------------------------FOOTER-------------------------------------------------------------------------*/
FOOTER {
    background-color: nth(variable.$paletaDeColores, 3);
    /*color de fondo del footer*/
}

.redes {
    display: flex;
    list-style: none;
}

.anchoRedes {
    width: 40px;
    padding: 1%;
}
